In [13]:
%load_ext sql

In [14]:
%sql sqlite:///dbxample.db
%sql PRAGMA foreign_keys= ON

 * sqlite:///dbxample.db
Done.

[]

In [15]:
%%sql create table animal_list(
index_num int,
animal varchar[20],
primary key(index_num)
);

 * sqlite:///dbxample.db
Done.

[]

In [16]:
%sql insert into animal_list values(0,'dog');
%sql insert into animal_list values(1,'cow');
%sql insert into animal_list values(2,'pig');
%sql insert into animal_list values(3,'cat');
%sql insert into animal_list values(4,'rabbit');

 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
1 rows affected.

[]

In [17]:
%sql select * from animal_list

 * sqlite:///dbxample.db
Done.

[(0, 'dog'), (1, 'cow'), (2, 'pig'), (3, 'cat'), (4, 'rabbit')]

In [18]:
%sql select * from animal_list where animal='cat'

 * sqlite:///dbxample.db
Done.

[(3, 'cat')]

In [19]:
%sql delete  from animal_list where animal = 'pig'
%sql select * from animal_list

 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
Done.

[(0, 'dog'), (1, 'cow'), (3, 'cat'), (4, 'rabbit')]

In [20]:
%sql insert into animal_list values (2, 'pig')

 * sqlite:///dbxample.db
1 rows affected.

[]

In [21]:
%sql update animal_list set animal = 'tiger' where index_num =2
%sql select * from animal_list

 * sqlite:///dbxample.db
1 rows affected.
 * sqlite:///dbxample.db
Done.

[(0, 'dog'), (1, 'cow'), (3, 'cat'), (4, 'rabbit'), (2, 'tiger')]

In [22]:
%sql select * from animal_list

 * sqlite:///dbxample.db
Done.

[(0, 'dog'), (1, 'cow'), (3, 'cat'), (4, 'rabbit'), (2, 'tiger')]

In [23]:
%sql select * from animal_list where animal = 'cat'

 * sqlite:///dbxample.db
Done.

[(3, 'cat')]