# Day 2
#### Variables and Basic Data types

Instructor : Daneul Kim (TEAM Always Summer @ WFK KOICA)

In [1]:
print('HELLO WORLD', 'Always summer', sep='!!', end='~~\n')
print('THIS IS THE PYTHON PROGRAM')
string1 = 'hello'
string2 = 'world'
print(string1, string2, sep='-', end='!')

HELLO WORLD!!Always summer~~
THIS IS THE PYTHON PROGRAM
hello-world!

## Part I. What is variable?

### - Value Assignment and Comparison operator
= value assignment

== comparison operator

In [6]:
a = 2
b = 5
c == 33

True

In [9]:
c == 33

False

## - Making comments on your code

use # to make comments on your code

In [10]:
a = 33
b = 22
c = 11 # c is re-assigned with new value 11

In [11]:
print(c)

11

In [12]:
print(a, b)

33 22

## - Print function
Function : Code block that could be repeatedly used for specific usage

In [4]:
print(a)

33

In [5]:
b = 33
c = 44
d = 21
e = 42
print(a, b, c, d, e)

33 33 44 21 42

## - Print function settings
Basic settings by using sep and end

In [8]:
#33 33 44 21 42
#33, 33, 44, 21, 42
print(a, b, c, d, e, sep=', ', end=' ')
print(b, end=' ')
print(c, end=' ')

33, 33, 44, 21, 42 33 44

## - Exercise
1. Assign the value 365 to 'x', assign the value 128 to 'y' and assign the value 237 to 'z' 
2. Print out x, y in same line with separator '-' and print out '=' using the 'end' setting
3. Print out z

-- You can use print twice --

In [9]:
x = 365
y = 128
z = 237
print(x, y, sep='-', end='=')
print(z)

365-128=237

In [10]:
xyz_3_2_324 = 24
print(xyz_3_2_324)

24

In [11]:
3b = 2

SyntaxError: invalid syntax (<ipython-input-11-1047f15ca1b1>, line 1)

In [12]:
for = 2

SyntaxError: invalid syntax (<ipython-input-12-81f260bd2c61>, line 1)

## Part II. Basic data types

## - Type function

In [1]:
a = 11 # integer (int)
b = 12.1 # floating point number (float)

In [2]:
type(a)

int

In [3]:
type(b)

float

In [4]:
c = True # boolean type (bool)
d = False # boolean type (bool)

In [5]:
 type(c)

bool

In [6]:
type(d)

bool

In [7]:
e = 'Hello World' # string (str)

In [8]:
type(e)

str

### VARIABLE
-> INPUT
BLACKBOX (FUNCTION)
-> OUTPUT
### RESULT

## - None

In [9]:
A = None
print(A)

None

## - Comparison operator
* <, >
* <=, >=
* ==
* !=

returns boolean result

In [34]:
a = 44
b = 62

In [35]:
a < b

True

In [36]:
b < a

False

In [37]:
b > a

True

In [38]:
b >= a

True

In [15]:
a = 44
b = 44

In [39]:
a <= b

True

In [18]:
a == b

True

In [42]:
a = 63
b = 42
a = b

In [43]:
print(a)

42

In [44]:
a = 33
b = 56
a != b

True

In [46]:
a = 1
b = 1
a != b

False

## - Numbers Type
Int and floating point numbers
* Automatic type conversion between integer and floating point numbers
    12 and 12.0 are different


Basic mathematical operators are all available:
* addition
* subtraction
* remainder
* division
* multiplication

In [72]:
## Integer and Floating point numbers calculation
a = 12
b = 12.0
a2 = 24
b2 = 24.0
c = a / 12 # 12 / 12 -> 1.0 
print(type(c))
d = b / 12 # 12.0 / 12 -> 1.0 
    # -> division always gives floating point number as result
print(type(d))

    # Hence they return floating point value
    
print(a + b) # returns floating point value
print(a + a2) # returns integer value
print(b + b2) # returns floating point value

<class 'float'>
<class 'float'>
24.0
36
36.0

In [49]:
## Basic Mathematical operations
a = 34
b = 21
c = 9
d = 3
e = 2

result1 = a + b # addition 
result2 = a - b # subtraction
result3 = c * d # multiplication
result4 = c / d # division
result5 = c % d # remainder
result6 = c % e # remainder

print(result1) # gives out the sum
print(result2) # gives out the difference
print(result3) # gives out the mult
print(result4) # gives out the division result
print(result5) # gives out the remainder for operation 9 % 3
print(result6) # gives out the remainder for operation 9 % 2

55
13
27
3.0
0
1

## - Operation priorities

In [51]:
a = 25
b = 15

print(a + b * 2) # 25 + 30 = 55
print((a + b) * 2) # (25 + 15) * 2 -> 40 * 2 = 80

55
80

## - Exercises
#### Calculate the following by using python program and print out using the 'print' funciton

In [52]:
print(5 * 3) # 15
print(12 * 98) # 1176
print(12.1 * 12.1) # 146.41
print(83 - 12) # 71
print(96 % 12) # 0
print(96 / 12) # 8.0
print(37 + 122) # 159
print(177 * 2 + 36) # 354 + 36 = 390

15
1176
146.41
71
0
8.0
159
390

## - String type

Multiple characters in sequence

It's created by putting characters between '(single quote) or "(double quote)

In [58]:
str1 = 'Hello World'
str2 = "Hello World"
print(str1)
print(str2)
str3 = 'Hello World! "What a nice day", he said' # double quotes in small quotes
str4 = "After the 'party', he slept until noon" # small quotes in double quotes
print(str3)
print(str4)

Hello World
Hello World
Hello World! "What a nice day", he said
After the 'party', he slept until noon

In [71]:
str1 = 'What a beautiful day'
str2 = "What a beautiful day"

str3 = 'What a "beautiful" day'
str4 = "What a 'beautiful' day"
print(str1)
print(str2)
print(str3)
print(str4)

What a beautiful day
What a beautiful day
What a "beautiful" day
What a 'beautiful' day

## - Escape String
\n : new line

\t : new tab

In [62]:
print('Hello world\nHello world') # gives out new line
print('Hello world\tHello world') # gives out new tab

Hello world
Hello world
Hello world	Hello world

## - Indexing and Slicing 
### (Slicing is explained in additional study materials)
Basics : Use [ ] parantheses to access the decided character in the string with the given index

In [67]:
string = 'abcdefg' # 7 characters 0 to 6
print(len(string)) # returns the length of the 'string'
print(string[0])
print(string[1])
print(string[2])
print(string[-1])
print(string[-2])
#print(string[8])
print(string[-3])

7
a
b
c
g
f
e