# Day 3

## Understanding the Collection types 1 - List, Tuple

## >> List and Tuples
* Data structure that can contain multiple values
* We can understand this as the list in the actual usages with values in sequences
* List could be modified however tuple cannot be modified, and we call these mutable and immutable

### - List

* We can think this 'List' as data structure that contains multiple values: Let's say there's 1, 2, 3, 4, 5 five numbers and we want to put them in one set, than we use list

* We make the list by putting the values in [] (parentheses)
* We can make the list by using the 'list()' function
* We can make the list by using 'str.split()', which we can make the string to list of characters (Since string itself is the multiple characters)

In [1]:
# Empty list could be declared
test = []
print(test)
print(type(test))

[]
<class 'list'>

In [2]:
# Elements IN
test = [1, 2, 3, 4, 5]
print(test)

[1, 2, 3, 4, 5]

In [3]:
# List could contain the integer, floating point number, string, or list itself as the element
test = ['korea', 'panama', 23, 24.1, [15, 16]]
print(test)

['korea', 'panama', 23, 24.1, [15, 16]]

**list() function**
    * Other data types could be converted into the list by using this function

In [4]:
str_ = 'Hello world'
str_list = list(str_)
print(str_list)

a = (1, 2, 3) # We'll learn this below : Tuple
b = list(a)

print(b)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

**String split function**
    * Converting the string to list by using the separator (which we learned in day 2 part 1)

In [5]:
a = 'hello world goodbye world'
b = a.split()

print(b)

['hello', 'world', 'goodbye', 'world']

**List indexing**
    * This could be thought equivalent to the indexing of string
    * Use the [] operator to gain the element
    * [i] return the element with the index i
    * As explained in day 2, using -1, -2, ... as index is possible

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(type(a))
print(len(a)) # indexed through 0 to 7 since length is 8

print(a[-1])
print(a[2])
print(a[7])

<class 'list'>
8
8
3
8

**Accessing the list items individually**
    * We can access the item by using the index and update the values individually

In [9]:
# String could not be modified by each value, but list could be modified by updating the each item
a = 'Hello world'
print(a[0])
#a[0] = 'k' # returns TypeError, since string is immutable

b = 'Cello World'
c = 'H' + b[1:] # We can make new string, since string itself is immutable
#you should know string slicing to understand this. Please check the day 2 appendix first

d = b.replace('C', 'H') # Actually, this function works by making new string

print('-'*10)
print(a)
print(b)
print(c)
print(d)

H
----------
Hello world
Cello World
Hello World
Hello World

In [ ]:
# However, the list itself is mutable
a = [1, 2, 3, 4, 5]
# Reassigning the value
a[0] = 100
a[-1] = 90

print(a)

**List Slicing**
    * Works similar to string slicing
    * Result of the list slicing is also the list

In [12]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

[5, 6, 7]

#### >>>>Member functions of list would be provided as additional study materials

## - Tuple
    * Collection type that contains multiple values as the list
    * It can't be modified (Immutable)

In [13]:
a = [1, 2, 3, 4, 5]
b = (1, 2, 3, 4, 5)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100 # Returns TypeError : since tuple object is immutable
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

**Tuple Unpacking**
    * Putting the values of tuples into variables

In [14]:
a, b, c = 100, 200, 300 # equivalent to a, b, c = (100, 200, 300)
print(a, b, c)

100 200 300

### Exercise
-> Exchange values of a and b (swap them using tuple unpacking)

# Day 3

## Understanding the Collection types 2 - Dictionary, Set

## >> Dictionary and sets
   * Data structures that can contain multiple values, but it works different from the list and tuple

### - Dictionary
    * Data structure that have keys and values
    * Keys are contained internally with hash value
    * There's no order in the dictionary, hence there's no index for any of the elemements in the dictionary

In [5]:
cities = {'Korea' : 'Seoul', 
          'Panama' : 'Panama', 
          'USA' : 'Washington D.C.', 
          'Japan': 'Tokyo'}

1000

In [6]:
test = {0:1, 1:10, 2:100, 3:1000}
print(test[3])

1000

* **Modifying the elements in the dictionary**

In [2]:
print(cities['Korea'])
cities['Korea'] = 'Pusan'
print(cities)
print(cities['Korea'])

Seoul
{'Korea': 'Pusan', 'Panama': 'Panama', 'USA': 'Washington D.C.', 'Japan': 'Tokyo'}
Pusan

In [3]:
print(cities['Japan'])
cities['Japan'] = 'Kyoto'
print(cities)
print(cities['Japan'])

Tokyo
{'Korea': 'Pusan', 'Panama': 'Panama', 'USA': 'Washington D.C.', 'Japan': 'Kyoto'}
Kyoto

* **Addition of the elements in the dictionary**

In [4]:
cities['Canada'] = 'Vancouver'
print(cities)

{'Korea': 'Pusan', 'Panama': 'Panama', 'USA': 'Washington D.C.', 'Japan': 'Kyoto'}

* **update()**
    * Merge two dictionaries
    * If there's overlapping keys, then the transferred parameter would be overwritten

In [8]:
a = {'a': 2, 'b': 3, 'c' : 3}
b = {'a': 4, 'd': 5, 'e': 6}

a.update(b)

print(a)

{'a': 4, 'b': 3, 'c': 3, 'd': 5, 'e': 6}

* **key deletion**
    * Use del keyword
    * Use pop function

In [21]:
a = {'a': 5, 'b': 4, 'c' : 3}
print(a)

del a['b']
print(a)

{'a': 5, 'b': 4, 'c': 3}
{'a': 5, 'c': 3}

In [ ]:
a = {'a': 5, 'b': 4, 'c' : 3}
element = a.pop('c')
print(element)
print(a)

* **clear()**
    * Reset all the values in the dictioanry

In [22]:
print(a)
a.clear()
print(a)

{'a': 5, 'c': 3}
{}

* **in**
    * Check the existence of key value

In [10]:
a = {'a': 2, 'b': 10, 'c' : 100}
b = [1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 15, 100]

print(100 in b)
print(2 in a)
print('b' in a)

True
False
True

* **value access**
    * Access by using dict[key], without key, error would be returned
    * Use .get() function to access, and if there's no key then None would be returned

In [11]:
print(a.get('e'))

if 'e' in a:
    print(a['e'])

None

* **Accessing all the keys and values**
    * keys() - Only return the keys
    * values() - only return the values
    * items() - Return tuples of keys and values

In [12]:
print(a)
print(list(a.keys()))
print(list(a.values())) # a.values returns the tuples of the keys and values and list() makes it to list

list(a.items())

{'a': 2, 'b': 10, 'c': 100}
['a', 'b', 'c']
[2, 10, 100]

[('a', 2), ('b', 10), ('c', 100)]

### - Set
    * Understanding this data structure as using only the keys from the dictionary
    * Keep in mind that keys could be overlapped

In [ ]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a)

* **Use set() to make it as a set**

In [14]:
a = [1, 1, 2, 3, 2, 4, 6, 1, 5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 2, 4, 6, 1, 5]
{1, 2, 3, 4, 5, 6}

* **set operations**
    * Equivalent to the operations in Mathematics
    * It supports operations of union, intersection and difference
    * It also supports to check whether one set is subset of another set

In [15]:
a = {1, 4, 6}
b = {2, 3, 5}

print(a.union(b)) # Union
print(a.intersection(b)) # Intersection
print(a.difference(b)) # Difference
print(a.issubset(b)) # Subsets

{1, 2, 3, 4, 5, 6}
set()
{1, 4, 6}
False