In [1]:
#initiating sql
%load_ext sql

In [2]:
%sql sqlite:///dbexample.db
%sql PRAGMA foreign_keys = ON;

 * sqlite:///dbexample.db
Done.

[]

In [3]:
%%sql create table animal_list (
    index_num int,
    animal varchar[20],
    primary key(index_num)
);

 * sqlite:///dbexample.db
Done.

[]

In [4]:
%sql insert into animal_list values (0,'dog');
%sql insert into animal_list values(1, 'cow');
%sql insert into animal_list values(2, 'pig');
%sql insert into animal_list values(3, 'cat');
%sql insert into animal_list values(4,'rabbit');

 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
1 rows affected.

[]

In [5]:
%sql select * from animal_list

 * sqlite:///dbexample.db
Done.

[(0, 'dog'), (1, 'cow'), (2, 'pig'), (3, 'cat'), (4, 'rabbit')]

In [6]:
%sql select * from animal_list where animal='cat'

 * sqlite:///dbexample.db
Done.

[(3, 'cat')]

In [7]:
%sql delete  from animal_list where animal = 'pig'
%sql select * from animal_list

 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
Done.

[(0, 'dog'), (1, 'cow'), (3, 'cat'), (4, 'rabbit')]

In [8]:
%sql insert into animal_list values (2, 'pig')

 * sqlite:///dbexample.db
1 rows affected.

[]

In [9]:
%sql update animal_list set animal = 'tiger' where index_num =2
%sql select * from animal_list

 * sqlite:///dbexample.db
1 rows affected.
 * sqlite:///dbexample.db
Done.

[(0, 'dog'), (1, 'cow'), (3, 'cat'), (4, 'rabbit'), (2, 'tiger')]